@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal;
}

.logo {
    font-size: 2em !important;
    color: #fff;
    font-weight: 700 !important;

}

.logo>span {
    color: #ffc451;
}


.navbar {

    background: #00000031 !important;
}

.active {
    color: #f5bd51 !important;
}

header {

    width: 100% !important;
    height: 100vh !important;
    background: no-repeat url('../img/hero-bg.jpg') fixed top center/cover !important;

}

header::before {
    content: '';
    background: linear-gradient(#0c0d0dab, #0b0c0c79, 30deg, #30303191);
}

header::before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
}

.nav-link {
    font-size: 1em !important;
    color: #fff !important;
    font-weight: 600 !important;
}

.btn-start {
    width: 150px;
    background: none;
    height: 40px;
    border: 1px solid #f5bd51 !important;
    color: #fff;
    border-radius: 5px;
}

.content {
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
}

.text-card {
    display: grid;
    width: 600px !important;
    height: 230px !important;
    background-color: #ffffff00 !important;
    text-align: center;
    border: none !important;
}

.title {
    color: #fff;
    font-size: 3.765em;
    font-weight: 900 !important;
    text-shadow: 0 .3px 3px #d7d7d750;
    text-align: center;
}

.text {
    color: #fff;
    font-size: 1.765em;
    font-weight: 600 !important;
    text-align: center;
}

.rows {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 130px;
    gap: 1em;
    padding: 12px;
}

.row-info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 250px 250px;
}

.rows>.card {
    padding: 20px 12px;
    text-align: center;
    width: 200px !important;
    height: 150px !important;
    border: 1px solid #fff;
    background-color: #ffffff00;
}

.rows>.card>.card-body>.card-title {
    font-size: 1.275em;
    color: #fff !important;
    font-weight: 900 !important;
}

iconify-icon {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px !important;
    color: #f5bd51;
}

.card-border {
    width: 500px;
    border: none;
}

dt {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    gap: 1em;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    color: #4f5255;
}

.icon {
    font-family: 'YourCustomIconFont', FontAwesome, sans-serif;
    font-size: 2em;
    color: #f5bd51 !important;
}

#container {
    margin: 50px 0;
    width: 100%;
    max-height: 180vh;
}
#services{
    margin: 50px 0;
    height: 180vh;
}
#carousel {
    margin: 180px 0 0 0;
    width: 100%;
    height: 40vh;
}

.swiper-slide {
    width: 100%;
}

.swiper-slide>img {
    margin: 50px 0;
    width: 50%;


    filter: grayscale(108%);
    transition: filter .3s ease-in-out;
}

.swiper-slide>img:hover {
    filter: grayscale(8%);
}

.swiper-radio {
    display: none;
}

.swiper-radio-label {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-lazy-preloader {
    background-color: #f5bd51;
}

.swiper-radio:checked>.swiper-radio-label {
    background-color: #ff9900;
}

.p {
    font-family: 'Poppins', sans-serif !important;
    color: #44446e;
    font-size: 1.7em;
    font-weight: 700 !important;
}

.italic {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1em;
    font-style: italic !important;
    font-weight: 600;
    color: 444a5c;
}

.content-h1 {
    font-size: 14px !important;

    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.content-p {
    margin: 0;
    margin: 0;
    font-size: 36px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #151515;
}

.hr {
    width: 140px !important;
    background-color: #ff9900;
    height: 1px;
}

.info {
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
    gap: 1em;


}

.icon-park {
    width: 64px;
    height: 64px;
    background: #ffc451;
    border-radius: 4px;

    margin-bottom: 20px;
    transition: 0.3s;
    color: #151515;

}

.img {
    margin: 10px 0 0 0;
    width: 500px !important;
    height: 100vh !important;
    object-fit: cover;
}

.info-card {
    width: 400px;
    height: 250px;
    border: 1px solid #ebebeb;
    text-align: center;
    border-radius: 4px;
}

@media only screen and (max-width:767px) {

    nav,
    header,
    main,
    footer {
        max-width: 768px !important;
    }

    .row-info {
        display: grid;
        grid-template-columns: 100%;
        gap:1em;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
    }

    header {
        height: 1200px !important;
    }

    .info-card {
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: center;
        height: 250px;
        border: 1px solid #ebebeb;
        text-align: center;
        border-radius: 4px;
    }

    header::before {
        content: '';
        height: 1200px !important;
        background: linear-gradient(#0c0d0dab, #0b0c0c79, 30deg, #30303191);
    }

    .content {

        display: grid;

        align-items: center;
    }

    .rows {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px 150px 150px 150px;
        gap: 1em;
        padding: 12px;
    }

    .card-border {

        max-width: 350px;
        border: none;
    }

    .rows>.card>.card-body>.card-title {
        font-size: 1em;
        color: #fff !important;
        font-weight: 900 !important;
    }

    iconify-icon {

        font-size: 22px !important;

    }

    .text-card {
        width: 100% !important;
        height: 100px !important;
        margin: 20px 0 40px 0;
    }

    .title {
        font-size: 2.2em;
    }

    .text {
        font-size: 1em;
    }
}

.cards {
    max-width: 500px;
    height: 150px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons {
    margin: 0 0 20px 0;
    font-size: 3em !important;
    display: flex;
    align-items: center;
}
.img{
    max-width: 400px;
}

@media (max-width:920px) and (min-width:768px) {
    .rows {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding: 12px;
    }

    .rows>.card {
        width: 230px !important;
    }

    .img {
        width: 600px;
        height: 44vh;
        object-fit: cover;
    }
}